<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Redhat-42</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
/etc/init.d/httpd restart
echo &quot;PLF4_CLUSTERING through load balancer: http://192.168.3.42/&quot;
echo &quot;PLF4_CLUSTERING node1 (machine: 192.168.3.41): http://192.168.3.41:18080/&quot;
echo &quot;PLF4_CLUSTERING node2 (machine: 192.168.3.42): http://192.168.3.42:28080/&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>